<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" style="display: inline;" src="/modules/core/client/img/brand/logo.svg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Gramercy lite, a test assignment for gramercy.io 
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://gramercy.io" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    
</section>
